<%= form_for(@bookreview) do |f| %>
  <% if @bookreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookreview.errors.count, "error") %> prohibited this bookreview from being saved:</h2>

      <ul>
      <% @bookreview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div>

  <fieldset class="rating">
    <legend>Please rate:</legend>
    <%= f.radio_button(:rating, "5") %><%= f.label(:rating.to_s + "_5", "Rocks") %>
    <%= f.radio_button(:rating, "4") %><%= f.label(:rating.to_s + "_4", "Pretty good") %>
    <%= f.radio_button(:rating, "3") %><%= f.label(:rating.to_s + "_3", "Meh") %>
    <%= f.radio_button(:rating, "2") %><%= f.label(:rating.to_s + "_2", "Kinda bad") %>
    <%= f.radio_button(:rating, "1") %><%= f.label(:rating.to_s + "_1", "Sucks big time") %>
  </fieldset>

</div>

<br />
<br />
<br />
<br />

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>

  <%= f.hidden_field :book_id, value: @bookreview.book_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
