<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>


<% if @book.overall_rating > 0 %>
    <p>
        Rating:
        <% num_stars(@book.overall_rating)[:full].times do %>
          <i class="fa fa-star"></i>
        <% end %>
        <% num_stars(@book.overall_rating)[:half].times do %>
          <i class="fa fa-star-half-o"></i>
        <% end %>
        <% num_stars(@book.overall_rating)[:empty].times do %>
          <i class="fa fa-star-o"></i>
        <% end %>

        <%= "(" + pluralize(@book.bookreviews.count.to_s, "customer review") + ")" if @book.bookreviews.count > 0 %>
    </p>
<% end %>



<%= link_to 'Write a Review', new_bookreview_path(book_id: @book) %> |
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>


<hr />

<p>
    <strong> Book Reviews </strong>
</p>

<% @book.bookreviews.each do |review| %>

    <% num_stars(review.rating)[:full].times do %>
      <i class="fa fa-star"></i>
    <% end %>
    <% num_stars(review.rating)[:half].times do %>
      <i class="fa fa-star-half-o"></i>
    <% end %>
    <% num_stars(review.rating)[:empty].times do %>
      <i class="fa fa-star-o"></i>
    <% end %>


    <%= review.summary %><br />
    <p>
    <%= review.details %>
    </p>

    <%= link_to 'Edit', edit_bookreview_path(review) %>
    <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr />
<% end %>
